In [1]:
import pandas as pandas
import matplotlib.pyplot

In [6]:
alunos = pandas.read_csv('data.csv')

In [11]:
alunos.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [12]:
alunos.tail()

     Duration  Pulse  Maxpulse  Calories
165        60    105       140     290.8
166        60    110       145     300.0
167        60    115       145     310.2
168        75    120       150     320.4
169        75    125       150     330.4

In [13]:
print(alunos)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    110       130     409.1
3          60    103       135     340.0
4          45    109       175     282.4
..        ...    ...       ...       ...
165        60    105       140     290.8
166        60    110       145     300.0
167        60    115       145     310.2
168        75    120       150     320.4
169        75    125       150     330.4

[170 rows x 4 columns]